.flex-container{
  display:flex;
  background-color: darkorchid;
  flex-flow:row nowrap;
  /*flex-start||flex-end||center||space-around||space-between*/
  justify-content: space-around;
  /*flex-start||flex-end||center||baseline||stretch*/
  align-items: stretch;
  /*flex-start | flex-end | center | space-between | space-around | stretch*/
  align-content: flex-start;
}
.flex-container div:nth-child(n){
  order:0;
  flex-grow:1;
}
.flex-container div:nth-child(5){
  flex-shrink:5;
  align-self: flex-end;
}
.flex-items{
  margin:10px;
  padding:10px;
  width:20%;
  height:1%;
  background-color: #e88024;
}


.wrapper{
  display:flex;
  flex-flow:row wrap;
}
.header,.footer,.main,.aside,.nav{
  flex:1 1 100%;
}
@media all and (min-width:600px){
  .aside{
    flex:1 auto;
  }
}

/* Large screens */
@media all and (min-width: 800px) {
  /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars
   */
  .main { flex: 2 2 0px; }

  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}
